.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.pulse {
    --color: #ffa260;
    --hover: #ffaf60;
}

button {
    color: var(--color);
    transition: 0.25s;
    /* round the corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

button:hover,
button:focus {
    border-color: var(--hover);
    color: #fff;
}
